---
import { HourlyChart } from "./charts/HourlyChart";
import { ArtistsChart } from "./charts/ArtistsChart";
import { DailyChart } from "./charts/DailyChart";
import { TreemapChart } from "./charts/TreemapChart";
import { ChartsSettings } from "./ChartsSettings";
---

<div class="p-10 flex flex-col gap-10">
  <ChartsSettings client:load />
  <HourlyChart client:load />
  <ArtistsChart client:load />
  <DailyChart client:load />
  <TreemapChart client:load />
</div>
