---
import { HourlyChart } from "./charts/HourlyChart";
import { ArtistsChart } from "./charts/ArtistsChart";
import { DailyChart } from "./charts/DailyChart";
import { TreemapChart } from "./charts/TreemapChart";
import { ChartsSettings } from "./ChartsSettings";

const sharedChart = Astro.props.sharedChart;
---

<div class="p-10 max-sm:p-3 flex flex-col gap-10 max-sm:gap-3 overflow-hidden">
  <ChartsSettings sharedChart={sharedChart} client:load />
  <HourlyChart client:load />
  <ArtistsChart client:load />
  <DailyChart client:load />
  <TreemapChart client:load />
</div>
