---
import Header from "./Header.astro";
import { UploadStatus } from "./UploadStatus";
import Charts from "./Charts.astro";
---

<Header />
<main class="h-full relative overflow-auto">
  <Charts />
  <UploadStatus client:load />
</main>
