---
import Header from "./Header.astro";
import { UploadStatus } from "./UploadStatus";
import Charts from "./Charts.astro";
---

<Header />
<main class="h-full relative">
  <section class="absolute inset-0 flex flex-col items-center justify-center">
    <UploadStatus client:load />
  </section>
  <Charts />
</main>
